# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/vcs.xml
.idea/workspace.xml

*.lock
file-system.probe

/build/

# Ignorar archivos de construcción de Gradle
*.bin
.gradle/

# Ignorar carpetas y archivos de salida
*/build/

# Ignorar configuraciones de Android Studio
.idea/
*.iml

# Ignorar archivos del sistema
.DS_Store
Thumbs.db